* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.bg-green-gray {
  background: rgb(0, 150, 135);
  background: linear-gradient(to bottom, #009687 10%, #d7d7d2 0%);
}

.profile-content {
  background-color: #ebe9eb;
}

.myprofile img {
  height: 70px;
  border-radius: 50%;
}

.notifications {
  background-color: #90d9fb;
}

.notifiche {
  color: gray;
}

.notify-icon-settings {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.search-bar {
  background-color: #fafafc;
}

.contact-list img {
  height: 60px;
  border-radius: 50%;
}

.profile-info img {
  height: 70px;
  border-radius: 50%;
}

.chat-background {
  background-image: url("../img/mine.jpg");
  height: 92%;
}

.type-bar {
  background-color: #f5eeeb;
  height: 9%;
  width: 100%;
  align-self: flex-end;
}

/* ------------- UTILITY CLASSES ------------- */

.gray {
  color: #bab9bc;
}
