* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.user-section {
  min-height: 883px;
}

.contact-list {
  height: 670px;
  background-color: white;
}

.profile-content {
  background-color: #ebe9eb;
}

.myprofile img {
  height: 70px;
  border-radius: 50%;
}

.notifications {
  background-color: #90d9fb;
}

.notifiche {
  color: gray;
}

.notify-icon-settings {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.search-bar {
  background-color: #fafafc;
}

.contact-list img {
  height: 60px;
  border-radius: 50%;
}

.profile-info img {
  height: 70px;
  border-radius: 50%;
}

.chat-background {
  background-image: url("../img/mine.jpg");
  max-height: 92%;
  position: relative;
  height: 92%;
}

.chat {
  max-height: 91%;
}

.type-bar {
  background-color: #f5eeeb;
  height: 9%;
  width: 100%;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

.user-messages {
}

.user-style {
  background-color: #d7f9bc;
  padding: 13px 75px 13px 13px;
  border-radius: 10px;
  width: fit-content;
  float: right;
}

.contact-messages {
}

.contact-style {
  background-color: #fffeff;
  padding: 13px 75px 13px 13px;
  border-radius: 10px;
  width: fit-content;
  float: left;
}

.messages {
  overflow-y: scroll;
  max-height: 739px;
}

/* ------------- UTILITY CLASSES ------------- */

.gray {
  color: #bab9bc;
}

.h-100px {
  height: 100px;
}

.bg-green-gray {
  background: rgb(0, 150, 135);
  background: linear-gradient(to bottom, #009687 10%, #d7d7d2 0%);
}
